# Cargo/Rust compiler target files
**/target
**/Output

# Compressed Folder 
**.tar.gz
**.tar.

# Useless output
**/packages/Output

# Arch Makepkg build files output
**flex/
**/packages/linux/pkg
**/packages/linux/src
****pkg.tar.zst
apkg

# for now it is not needed 
packages/windows/InnoDependencyInstaller